
*{
  margin: 0 0 0;
  padding: 0;
}
*::-webkit-scrollbar{
  display: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;  
  color: #4a86e8;
}
.head{
  margin: auto;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  overflow: hidden;

}

.header-text{
  position: absolute;
  margin: auto;
  z-index: 4;
  color: #4a86e8;
  width: 100vw;
  font-size: 25vh;
  top: 75vh;
  text-align: center;
}
.head .head-image {

  filter: brightness(75%);
}
.head-image{
  width: 100%;
}
hr{
  height: 20px;
  margin: 0;
  background-color: #4a86e8;
  border: 0;
}

.content-top{
  color: grey;
}
.content{
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.boxes{
  margin: auto;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  text-align: center;
  transition: 1s ease-in-out;
  vertical-align: middle;

  overflow: hidden;
}
a{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  right: -0vw;

  overflow: hidden;
}
.sub{
  position: absolute;
  margin: auto;
  z-index: 4;
  color: #4a86e8;
  width: 100vw;
  height: 100vh;
  font-size: 40vh;
  transition-delay: .5s;
  transition:font-size 1s ease-in-out;
}
.sub:hover{
  font-size: 45vh;
  
  
}
/* Brightness-zoom Container */
.img-hover-zoom img {
  transition-delay: .5s;
  transition: transform 1s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(25%);
}
img{
  width: 100%;
}
/* The Transformation */
.img-hover-zoom:hover img {

  filter: brightness(25%);
  transform: scale(1.01);
}